project:
  type: website
  output-dir: docs

format:
  html:
    theme: united
    mainfont: Trebuchet MS
    fontsize: 16pt 

execute:
  freeze: auto

website:
  navbar:
    left:
      - href: index.qmd
        text: Home
      
    search: true
